{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "inline-dotenv",
    ["module-resolver", {
      "alias": {
        "@m": "./model",
        "@r": "./routes",
        "@h": "./helpers",
        "@mw": "./middleware"
      }
    }]
  ]
}