{
  "env": {
    "node": 1,
    "browser": 1
  },
  "globals": {
    "exampleGlobalVariable": true
  },
  "rules": {
    "object-property-newline": ["error"],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "max-len": ["error", {
      "code": 80,
      "ignoreComments": true,
      "ignoreUrls": true
    }]
  },
  "plugins": []
}