{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "browser": false,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "globals": {},
  "rules": {
    "object-property-newline": ["error"],
    "linebreak-style": [
      "error",
      "windows"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "max-len": ["error", {
      "code": 80,
      "ignoreComments": true,
      "ignoreUrls": true
    }]
  },
  "plugins": []
}